*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.signup-container{
    background-color: white;
    color: black;
    padding: 2rem;
    border-radius: 8px;
    box-shadow:  0 4px 8px black;
    max-width: 400px;
}

h1{
    color: rgb(218, 75, 75);
    margin-bottom: 1.5rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    color: black;
    margin-bottom: 0.3rem;
}

input{
    margin-bottom: 0.5rem;
    border-color: yellowgreen;
}

button{
    padding: 0.8rem;
    font-size: 16px ;
    color: white;
    background-color: rgb(32, 32, 189);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover{
    background-color: rgb(77, 77, 176);
}

.login-link{
    margin-top: 1rem;
    font-size: 14px;
    text-align: center;
    color: black;
}

.login-link a{
    color: rgb(46, 66, 218);
    text-decoration: none;
}

.login-link a:hover{
    text-decoration: underline;
}

li{
    margin-top: 0.5rem;
    color: darkmagenta;
}