<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About TaskBuddy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'BuddyWorks/css/about.css' %}">
    <script src="{% static 'BuddyWorks/js/about.js' %}" defer></script>
</head>
<body>
    <div class="about-container">
        <header>
            <h1>About TaskBuddy</h1>
            <p>Your ultimate solution for efficient task management and team collaboration.</p>
        </header>

        
        <footer>
            <p>&copy; 2024 TaskBuddy. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
