<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TaskBuddy{% endblock %}</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'BuddyWorks/css/index.css' %}">
    <script src="{% static 'BuddyWorks/js/index.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1>Task<span id="logoSpan">Buddy</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'serviceURL' %}">services</a></li>
                <li><a href="{% url 'supportURL' %}">support🎧</a></li>
                <li><a href="{% url 'aboutURL' %}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="welcome">
            <h2>Welcome to TaskBuddy!</h2>
            <p>Your one-stop solution for managing tasks effectively</p>
        </section>

        <section class="features">
            <h3>key Features</h3>
            <ul>
                <li>Manage your tasks easily</li>
                <li>Role-based acces control</li>
                <li>Receive notification and remainders</li>
                <li>Track your progress</li>
            </ul>
        </section>

        <section class="user">
            <h3>Get Started Now!</h3>
            <a class="userBtn" href="{% url 'loginURL' %}">Log In</a>
            <a class="userBtn" href="{% url 'signupURL' %}">Sign Up</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 TaskBuddy. All rights reserved.</p>
        <a href="{% url 'privacy-policyURL' %}">Privacy Policy</a>
        <a href="{% url 'terms-of-serviceURL' %}">Terms of service</a>
    </footer>
</body>
</html>