<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and enjoy!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'BuddyWorks/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login to TaskBuddy</h1>
        <form method="POST" action="">
            {% csrf_token %}

            <div class="form-group">{{form.username}}</div>
            <div class='form-group'>{{form.password}}</div>
    
            <div>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{message}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <button type="submit" class="login-button">submit</button>
        </form>
        <p class="signup-link">Don't have an account?  <a href=" ">Sign Up</a></p>
        </div>
    </div>
</body>
</html>