<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiceRoller</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Games/css/dice_roller.css' %}">
    <script src="{% static 'Games/js/dice_roller.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'indexURL' %}"><h1>Task<span>Buddy</span></h1></a>
        </div>
        <a href=""><h2 class="games">Games</h2></a>
    </header>

    <div class="container">
        <h2>DiceRoller</h2>
        <div class="dice">
            <div class="face front"></div>
            <div class="face back"></div>
            <div class="face top"></div>
            <div class="face bottom"></div>
            <div class="face right"></div>
            <div class="face left"></div>
        </div>
        <button class="roll">Roll</button>
    </div>
</body>
</html>