<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ro-sham-po</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Games/css/Ro_sham_po.css' %}">
    <script src="{% static 'Games/js/Ro_sham_po.js' %}" defer></script>
</head>
<body>

    <header>
        <div class="logo">
            <a href="{% url 'indexURL' %}"><h1>Task<span>Buddy</span></h1></a>
        </div>
        <a href="{% url 'games_hubURL' %}"><h2 class="games">GamesHub</h2></a>
    </header>
    
    <div class="container">

        <h1>Ro-sham-po</h1>
        <div class="choices">
            <button>🪨</button>
            <button>🧻</button>
            <button>✂️</button>
        </div>

        <div id="playerDisplay">PLAYER:</div>
        <div id="computerDisplay">COMPUTER:</div>
        <div id="resultDisplay"></div>

        <div class="scoreDisplay"> Player Score:
            <span id="playerScoreDisplay">0</span>
        </div>
        <div class="scoreDisplay"> Computer Score:
            <span id="computerScoreDisplay">0</span>
        </div>

    </div>

    
</body>
</html>